body {
  margin: 0;
  font-family: $font-family-base;
}

.box-300x300 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
}

.box-300x300 img {
  object-fit: cover;
  width: 80%;
}

.mw-500 {
  max-width: 500px;
}