body {
  margin: 0;
  font-family: $font-family-base;
}

.hacka-box {
  background: #1e1b4b;
  color: white;
  padding: 10px;
  margin: 10px;
}

.box-300x300 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
}

.box-300x300 img {
  object-fit: cover;
  width: 80%;
}

.mw-500 {
  max-width: 500px;
}